.fade-in { animation: fadeIn 1s; }

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.slow-fade-in { animation: slowFadeIn 3s; }

@keyframes slowFadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.late-fade-in { animation: lateFadeIn 3s; }

@keyframes lateFadeIn {
    0% { opacity: 0; }
    25% { opacity: 0; }
    100% { opacity: 1; }
}

.rotate {
    transform: rotate(-4deg);
}

.moon-animation { animation: moonAnimation 5s ease-in-out infinite; }

@keyframes moonAnimation {
    0% { transform: translate(24%, 16%); }
    50% { transform: translate(24%, 22%); }
    100% { transform: translate(24%, 16%); }
}