@use 'variables';

.about {
    display: flex;
    align-items: center;
    
    &__bio {
        min-height: 70vh;
        display: grid;
        grid-template-columns: 30% auto;
        gap: 50px;

        &__jacque {
            width: 100%;
            box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
            transition: all 2s ease;
        }

        &__tabs {
            padding: 0 16px;

            & .is-selected {
                border-bottom: 2px solid variables.$forthColor;
            }

            &__tab {
                color: variables.$forthColor;
                background-color: transparent;
                font-size: 20px;
                font-weight: bold;
                text-transform: uppercase;
                margin: 0 10px;
                padding: 4px 10px;
                border: none;
                border-bottom: 2px solid transparent;
                cursor: pointer;

                @media screen and (max-width: 767px) {
                    font-size: 16px;
                    padding: 0;
                    margin-top: 40px;
                }
            }

            @media screen and (max-width: 767px) {
                text-align: center;
            }
        }

        &__text {
            padding: 26px;

            & .txt-bio {
                display: none;
            }
        }



        @media screen and (max-width: 767px) {
            & h2 {
                margin-top: 60px;
                padding-bottom: 0px;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .about {
        &__parallax {
            height: 60vh;

            & p {
                margin: 50px auto;
            }
        }

        &__bio {
            display: block;

            &__jacque {
                width: 80%;
                display: block;
                margin: 0 auto;
            }

            &__text {
                padding: 6px;
                margin-top: 40px;
            }
        }
    }
}