.carousel {
    position: relative;
    max-width: 660px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
}

.carousel li {
    min-width: 100%;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(164, 117, 81, 0.5);
    /* background: rgba(0, 0, 0, 0.5); */
    border: none;
    color: white;
    font-size: 2em;
    cursor: pointer;
    padding: 10px;
}

.carousel-control.prev {
    left: 20px;
}

.carousel-control.next {
    right: 20px;
}

.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.indicator {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background: #c2a188;
    border-radius: 50%;
    cursor: pointer;
}

.indicator.active {
    background: #A47551;
}
