@use 'variables';

.contact {
    padding: 140px 0;
    background-color: variables.$thirdColor;
    background-image: url(../images/moonbg.svg);
    background-size: cover;

    & h2 {
        text-align: left;
    }

    @media screen and (max-width: 767px) {
        padding: 0;
        padding-top: 50px;

        & h2 {
            text-align: center;
        }
    }

    &__container {
        display: grid;
        grid-template-columns: 40% 60%;
        gap: 4%;

        @media screen and (max-width: 1023px) {
            display: block;
        }

        &__txt {
            color: variables.$secondaryColor;

            & p {
                font-size: 32px;
                padding: 26px 0;
            }

            & .contact-balloon {
                background-color: rgba($color: #fff, $alpha: 0.5);
                border-radius: 6px;
                margin: 30px 0;
                padding: 20px 34px;
                font-size: 22px;
                font-weight: bold;
                display: flex;
                justify-content: space-between;
                align-items: center;

                &:hover {
                    box-shadow: 0px 5px 10px rgba($color: #000000, $alpha: 0.2);
                }

                & .email-address {
                    font-size: 14px;
                    font-weight: lighter;

                    @media screen and (max-width: 767px) {
                        font-size: 12px;
                    }
                }

                & img {
                    height: 64px;
                }

                @media screen and (max-width: 767px) {
                    font-size: 20px;
                    margin: 30px 10px;
                }
            }

            @media screen and (max-width: 767px) {
                font-size: 24px;
                padding: 0;
            }
        }

        &__form {
            font-size: 16px;
            padding-bottom: 30px;

            @media screen and (max-width: 767px) {
                width: 96%;
                margin: 0 auto;
            }

            & .name-container {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 10px;

                & #first-name,
                #last-name {
                    width: 100%;
                }
            }

            & label {
                display: block;
                padding: 10px 0;
                margin-top: 20px;

                & .required {
                    color: variables.$forthColor;
                    font-size: 12px;
                }
            }

            & input {
                height: 50px;
                padding: 6px;
                font-size: 16px;
                border: none;
                border-radius: 6px;
                background-color: rgba($color: #fff, $alpha: 0.5);

                &:focus {
                    outline-color: variables.$secondaryColor;
                }
            }

            & #message {
                width: 100%;
                height: 200px;
                padding: 10px;
                border: none;
                border-radius: 6px;
                background-color: rgba($color: #fff, $alpha: 0.5);

                &:focus {
                    outline-color: variables.$secondaryColor;
                }
            }

            & #email,
            #tel {
                width: 100%;
            }

            & .checkbox-container {
                padding: 0;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                gap: 20px;

                @media screen and (max-width: 767px) {
                    padding-left: 20px;
                }

                & ul {

                    & li {
                        padding-top: 6px;

                        @media screen and (max-width: 767px) {
                            padding-top: 18px;
                        }
                    }
                }

                & label {
                    display: inline-flex;
                    padding: 0 6px;
                    margin-top: 0;
                    font-size: 16px;
                    cursor: pointer;
                }

                & input {
                    width: 18px;
                    height: 18px;
                    padding: 0;
                    border: none;
                    cursor: pointer;
                }
            }

            & .submit-button {
                width: 30%;
                height: 60px;
                font-size: 20px;
                text-transform: uppercase;
                border: none;
                border-radius: 6px;
                display: block;
                margin: 20px auto;
                cursor: pointer;
                background-color: variables.$submitButton;
                color: #fff;
                transition: all .3s ease;

                @media screen and (max-width: 767px) {
                    width: 100%;
                }

                &:hover {
                    transform: translateY(-5px);
                    box-shadow: 0px 5px 10px rgba($color: #000000, $alpha: 0.3);
                    background-color: lighten(variables.$submitButton, 10%);
                }
            }
        }
    }
}