@use 'variables';

.contact {
    background-color: variables.$thirdColor;
    background-image: url(../images/moonbg.svg);
    background-size: cover;

    & h2 {
        text-align: left;
    }

    @media screen and (max-width: 767px) {
        padding: 0;
        padding-top: 50px;

        & h2 {
            text-align: center;
        }
    }

    &__title-container {
        text-align: left;

        p {
            font-size: 28px;
            color: variables.$secondaryColor;
            max-width: 100%;

            @media screen and (max-width: 1023px) {
                font-size: 24px;
            }
        }
    }

    &__container {
        display: grid;
        grid-template-columns: 2fr 1fr;

        @media screen and (max-width: 1023px) {
            display: block;
        }

        &__calendar {
            padding: 0 10px;
        }

        &__form {
            max-width: 500px;
            width: 100%;
            font-size: 16px;
            padding: 30px 0;
            margin: 0 auto;

            @media screen and (max-width: 767px) {
                width: 96%;
                margin: 0 auto;
                padding: 0;
            }

            & label {
                display: block;
                padding: 10px 0;
                margin-top: 20px;

                & .required {
                    color: variables.$forthColor;
                    font-size: 12px;
                }
            }

            & input {
                width: 100%;
                height: 50px;
                padding: 6px;
                font-size: 16px;
                border: none;
                border-radius: 6px;
                background-color: rgba($color: #fff, $alpha: 0.5);

                &:focus {
                    outline-color: variables.$secondaryColor;
                }
            }

            & #message {
                width: 100%;
                height: 200px;
                padding: 10px;
                border: none;
                border-radius: 6px;
                background-color: rgba($color: #fff, $alpha: 0.5);

                &:focus {
                    outline-color: variables.$secondaryColor;
                }
            }

            & .submit-button {
                width: 100%;
                height: 60px;
                padding: 10px 20px;
                font-size: 20px;
                text-transform: uppercase;
                border: none;
                border-radius: 6px;
                display: block;
                margin: 20px auto;
                cursor: pointer;
                background-color: variables.$submitButton;
                color: #fff;
                transition: all .3s ease;

                @media screen and (max-width: 1023px) {
                    width: 80%;
                }

                &:hover {
                    transform: translateY(-5px);
                    box-shadow: 0px 5px 10px rgba($color: #000000, $alpha: 0.3);
                    background-color: lighten(variables.$submitButton, 10%);
                }
            }
        }
    }

    .social-link {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        justify-content: center;
        align-items: center;
        color: variables.$secondaryColor;
        padding-bottom: 30px;

        &:hover {
            text-decoration: underline;
        }

        img {
            width: 30px;
        }
    }
}