@use 'variables';

.footer {
    padding: 20px 0;
    text-align: center;
    font-size: 16px;
    background-color: variables.$mainColor;

    & a {
        color: #58371d;

        &:hover {
            text-decoration: underline;
        }
    }

    &__dev {
        font-size: 14px;
    }
}