@use 'variables';

.header {
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    height: 140px;
    transition: all .5s ease;

    &__nav {
        width: 96%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        & .logo-container {
            display: flex;
        }

        & img {
            height: 60px;
        }

        & #logo-txt {
            display: none;

            & img {
                animation: fadeIn 1.5s;

                @keyframes fadeIn {
                    0% {
                        opacity: 0;
                    }

                    100% {
                        opacity: 1;
                    }
                }
            }
        }

        &__menu {
            display: flex;

            & li {
                padding: 8px 30px;

                & a {
                    color: #fff;
                    transition: all .5s ease;
                }
            }
        }
    }
}

// Underline animation

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #fff;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


// navbar effect
.change-navbar {
    height: 90px;
    background-color: variables.$mainColor;
}