$mainColor: #D0B49F;
$secondaryColor: #A47551;
$thirdColor: #E4D4C8;
$forthColor: #A47551;

$pinkMoon: #e580ff;
$orangeMoon: #ff7f2a;

// COLOR PALETTE

$one: #D48C70;
$two: #F4B9B8;
$three: #EBBBB0;
$four: #E98980;

// $thirdColor: #ffd99f;
// $thirdColor: #ffe8c6;

// backup
$um: #D48C70;
$dois: #F4B9B8;
$tres: #f8d9ca;
$quatro: #ad6f61;