$mainColor: #D0B49F;
$secondaryColor: #A47551;
$thirdColor: #E4D4C8;
$forthColor: #A47551;

$neutralColor: #E4E4E2;

$pinkMoon: #E17188;
$orangeMoon: #EA9130;

$cardColor: #E7D2CC;

$submitButton: #2e992e;