@use 'variables';
@use 'animation';
@use 'header';
@use 'hero';
@use 'welcome';
@use 'bio';
@use 'services';
@use 'packages';
@use 'contact';
@use 'footer';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 18px;
    font-family: 'Comfortaa', cursive;

    @media screen and (max-width: 767px) {
        font-size: 16px;
    }
}

a {
    text-decoration: none;
    color: variables.$secondaryColor;
}

p {
    max-width: 1000px;
    line-height: 1.8;
    margin: 0 auto;
    padding: 10px 0;

    @media screen and (max-width: 767px) {
        width: 90%;
    }
}

section {
    padding-top: 100px;

    @media screen and (max-width: 767px) {
        padding-top: 0;
    }
}

hr {
    border: none;
    border-top: 2px solid variables.$mainColor;
    padding: 40px 0;
}

.main-button {
    cursor: pointer;
    display: block;
    margin: 40px auto;
    padding: 20px 26px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Comfortaa', cursive;
    text-transform: uppercase;
    background-color: variables.$mainColor;
    color: #fff;
    border: none;
    border-radius: 6px;
    transition: all .3s ease;

    &:hover {
        transform: translateY(-6px);
        background-color: lighten(variables.$mainColor, 10%);
    }
}

.quote {
    font-size: 44px;

    @media screen and (max-width: 767px) {
        font-size: 30px;
    }
}

.quote-big {
    font-size: 74px;

    @media screen and (max-width: 767px) {
        font-size: 10vw;
    }
}

.justify-right {
    text-align: right;
}

.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

.wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;

    @media screen and (max-width: 767px) {
        width: 100%;
    }
}

.title {
    font-size: 54px;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    padding-bottom: 50px;
    color: variables.$secondaryColor;
}

.parallax {
    padding: 90px 0;
    font-family: 'Dancing Script', cursive;
    color: #fff;
    min-height: 40vh;
    background-color: variables.$mainColor;
    position: relative;
    display: flex;
    align-items: center;
    text-shadow: 0px 2px 19px rgba(255, 255, 255, 0.46);

    & div {
        width: 90%;
        margin: 0 auto;
    }

    @media screen and (max-width: 767px) {
        min-height: 30vh;
        padding: 0;
    }
}

.parallax::before {
    content: "";
    background-image: url(../images/stars-bg.gif);
    background-size: 150px;
    background-attachment: fixed;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.6;
}

.empty-space {
    display: none;

    @media screen and (max-width: 767px) {
        display: block;
        height: 90px;
    }
}

// Shape divider
.shape-divider {
    position: relative;
    background-color: #fff;
    height: 158px;

    .custom-shape-divider-top-1693964783 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }

    .custom-shape-divider-top-1693964783 svg {
        position: relative;
        display: block;
        width: calc(153% + 1.3px);
        height: 158px;
    }

    .custom-shape-divider-top-1693964783 .shape-fill {
        fill: variables.$thirdColor;
    }

    /** For mobile devices **/
    @media (max-width: 767px) {
        .custom-shape-divider-top-1693964783 svg {
            width: calc(152% + 1.3px);
            height: 64px;
        }
    }
}

.upside-down {
    transform: rotate(180deg);
}